#!/bin/bash

# Create a new directory and enter it
ndir() {
	mkdir -p "$@" && cd "$@"
}

# Get a fresh copy of Webpack Boilerplate
webpack-boilerplate(){
    git clone git@github.com:jesperorb/webpack-boilerplate.git $1 && cd $1 && yarn && npm run dev
}

gi() {
    curl -s "https://www.gitignore.io/api/$*"
}

# find shorthand
find-shorthand() {
	find . -name "$1" 2>&1 | grep -v 'Permission denied'
}

# Search google from command line!
gsearch() {
    open "http://www.google.com/search?q=$*"
}

# Google's "I'm feeling lucky" search shortcut
lucky() {
    open "https://www.google.com/search?btnI=1&q=$*"
}

crepo() {
    git clone --depth=1 $1
    cd $(basename ${1%.*})
    yarn install
}

# Docker Stuff
#stop all containers:
scontainers () {
    docker kill $(docker ps -q)
}

#remove all containers
rcontainers () {
    docker rm $(docker ps -a -q)
}

#remove all docker images
rimages () {
    docker rmi $(docker images -a -q)
}
killall () {
    docker kill $(docker ps -q) && docker rm $(docker ps -a -q) && docker rmi $(docker images -q)
}