# The best pattern people should follow is ignoring the editors' files in their
# global .gitignore configuration file.
# However, in order to prevent issues. We also ignore editors' files here.
.idea
.vscode
*.log
.DS_STORE

vim/cache/
vim/coc/memos.json
vim/coc/history.json
vim/coc/ultisnips
vim/coc/extensions/*
!vim/coc/extensions/package.json
!vim/coc/extensions/yarn.lock
vim/vim-persisted-undo

tmux/cache/

.zcompdump*
.zhistory
*.zwc
*.old
.zcompcache
.zcalc_history