# The best pattern people should follow is ignoring the editors' files in their
# global .gitignore configuration file.
# However, in order to prevent issues. We also ignore editors' files here.
.idea
.vscode
.vim/vim-persisted-undo
*.log
.DS_STORE

vim/cache/
vim/coc/extensions/node_modules