[submodule "vim/pack/bundle/start/ale"]
	path = vim/pack/bundle/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/bundle/start/fzf-core"]
	path = vim/pack/bundle/start/fzf-core
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/bundle/start/fzf-vim"]
	path = vim/pack/bundle/start/fzf-vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/bundle/start/signify"]
	path = vim/pack/bundle/start/signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/pack/bundle/start/coc"]
	path = vim/pack/bundle/start/coc
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "vim/pack/bundle/start/fugitive"]
	path = vim/pack/bundle/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/bundle/start/peartree"]
	path = vim/pack/bundle/start/peartree
	url = https://github.com/tmsvg/pear-tree.git
[submodule "vim/pack/bundle/start/sandwich"]
	path = vim/pack/bundle/start/sandwich
	url = https://github.com/machakann/vim-sandwich.git
[submodule "vim/pack/bundle/start/wordmotion"]
	path = vim/pack/bundle/start/wordmotion
	url = https://github.com/chaoren/vim-wordmotion.git
[submodule "vim/pack/bundle/start/targets"]
	path = vim/pack/bundle/start/targets
	url = https://github.com/wellle/targets.vim.git
[submodule "vim/pack/bundle/opt/undotree"]
	path = vim/pack/bundle/opt/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vim/pack/bundle/opt/nerdtree"]
	path = vim/pack/bundle/opt/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/bundle/opt/emmet"]
	path = vim/pack/bundle/opt/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/pack/bundle/start/commentary"]
	path = vim/pack/bundle/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/bundle/opt/nerdtree-git"]
	path = vim/pack/bundle/opt/nerdtree-git
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/pack/bundle/start/multiple-cursors"]
	path = vim/pack/bundle/start/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/pack/bundle/start/easyalign"]
	path = vim/pack/bundle/start/easyalign
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim/pack/bundle/start/cursorword"]
	path = vim/pack/bundle/start/cursorword
	url = https://github.com/itchyny/vim-cursorword.git
[submodule "vim/pack/bundle/start/eunuch"]
	path = vim/pack/bundle/start/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/pack/bundle/start/pencil"]
	path = vim/pack/bundle/start/pencil
	url = https://github.com/reedes/vim-pencil.git
[submodule "vim/pack/bundle/start/terminus"]
	path = vim/pack/bundle/start/terminus
	url = https://github.com/wincent/terminus.git
[submodule "vim/pack/bundle/start/prettier"]
	path = vim/pack/bundle/start/prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "vim/pack/bundle/start/startify"]
	path = vim/pack/bundle/start/startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "vim/pack/bundle/start/gitgutter"]
	path = vim/pack/bundle/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/bundle/start/night-day"]
	path = vim/pack/bundle/start/night-day
	url = https://github.com/nightsense/night-and-day.git
[submodule "vim/pack/bundle/start/devicons"]
	path = vim/pack/bundle/start/devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim/pack/bundle/start/buftabline"]
	path = vim/pack/bundle/start/buftabline
	url = https://github.com/ap/vim-buftabline.git
[submodule "vim/pack/bundle/start/golang"]
	path = vim/pack/bundle/start/golang
	url = https://github.com/fatih/vim-go.git
[submodule "config/ranger/plugins/ranger_devicons"]
	path = config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons.git
[submodule "vim/pack/bundle/start/mustache-handlebars"]
	path = vim/pack/bundle/start/mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "vim/pack/bundle/opt/goyo"]
	path = vim/pack/bundle/opt/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim/pack/bundle/opt/limelight"]
	path = vim/pack/bundle/opt/limelight
	url = https://github.com/junegunn/limelight.vim.git
[submodule "vim/pack/bundle/opt/github-hub"]
	path = vim/pack/bundle/opt/github-hub
	url = https://github.com/jez/vim-github-hub.git
[submodule "vim/pack/bundle/start/styled-components"]
	path = vim/pack/bundle/start/styled-components
	url = https://github.com/styled-components/vim-styled-components.git
	branch = main
[submodule "vim/pack/bundle/opt/LanguageClient-neovim"]
	path = vim/pack/bundle/opt/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim.git
[submodule "vim/pack/bundle/start/aylin"]
	path = vim/pack/bundle/start/aylin
	url = https://github.com/AhmedAbdulrahman/aylin.vim.git
[submodule "vim/pack/bundle/start/vim-easydir"]
	path = vim/pack/bundle/start/vim-easydir
	url = https://github.com/duggiefresh/vim-easydir.git
[submodule "vim/pack/bundle/start/vim-waikiki"]
	path = vim/pack/bundle/start/vim-waikiki
	url = https://github.com/fcpg/vim-waikiki.git
[submodule "vim/pack/bundle/start/devdocs.vim"]
	path = vim/pack/bundle/start/devdocs.vim
	url = https://github.com/rhysd/devdocs.vim.git
[submodule "vim/pack/bundle/opt/smoothie"]
	path = vim/pack/bundle/opt/smoothie
	url = https://github.com/psliwka/vim-smoothie.git
[submodule "vim/pack/bundle/start/codi"]
	path = vim/pack/bundle/start/codi
	url = https://github.com/metakirby5/codi.vim.git
[submodule "vim/pack/bundle/start/jsdoc"]
	path = vim/pack/bundle/start/jsdoc
	url = https://github.com/heavenshell/vim-jsdoc.git
[submodule "vim/pack/bundle/start/completion-nvim"]
	path = vim/pack/bundle/start/completion-nvim
	url = https://github.com/haorenW1025/completion-nvim
[submodule "vim/pack/bundle/start/diagnostic-nvim"]
	path = vim/pack/bundle/start/diagnostic-nvim
	url = https://github.com/haorenW1025/diagnostic-nvim
[submodule "vim/pack/bundle/start/vim-vsnip"]
	path = vim/pack/bundle/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "vim/pack/bundle/start/vim-vsnip-integ"]
	path = vim/pack/bundle/start/vim-vsnip-integ
	url = https://github.com/hrsh7th/vim-vsnip-integ.git
[submodule "vim/pack/bundle/opt/pinnacle"]
	path = vim/pack/bundle/opt/pinnacle
	url = https://github.com/wincent/pinnacle.git
