# The best pattern people should follow is ignoring the editors' files in their
# global .gitignore configuration file.
# However, in order to prevent issues. We also ignore editors' files here.
.idea
.vscode
*.log
.DS_STORE

*.un~
*.zwc
!.ignore
*.old
log.*.txt
node_modules

extras/alfred/Alfred.alfredpreferences/clipboard/snippets.alfdb
extras/alfred/Alfred.alfredpreferences/preferences/local/8eba23311385d1baaadb1929931f397b29758d9a
extras/alfred/Alfred.alfredpreferences/remote/
