[alias]
	cherrypick = cherry-pick
	cherry = cherry-pick
	cp = cherry-pick

	addall = !sh -c 'git add . && git add -u'

	# Show files ignored by git:
	ign = ls-files -o -i --exclude-standard

	# Show all of my configured aliases
	aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort

	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

	reup = rebase-update # depot_tools specific
	git = !exec git

	# run git rename old_branch new_branch, and it's done.
	rename = "!change() { git branch -m $1 $2; git push origin :$1; git push --set-upstream origin $2; }; change"

  # list commited files name
  # Usage: git cf <COMMIT_ID>
  cf = "!show_commited_files() { git diff-tree --no-commit-id --name-only -r $1; }; show_commited_files"

[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	pager = diff-so-fancy | less --tabs=4 -RFX

[pager]
	# insanely beautiful diffs ==> npm install -g diff-so-fancy
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX

[interactive]
  # disabled until github.com/so-fancy/diff-so-fancy/pull/172 is resolved :(
	# diffFilter = "diff-so-fancy"

# so much color
[color]
	ui = auto
[color "diff"]
	meta = 39
	frag = magenta bold
	commit = "222 bold"
	old = red bold
	new = green bold
	whitespace = red reverse
    newMoved = cyan
    oldMoved = blue
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = green
	changed = red
	untracked = yellow
	updated= green

# rewrites of repo paths
[url "git@github.com:"]
	insteadOf = "https://github.com/"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
	pushInsteadOf = "https://github.com/"

[url "git://github.com/"]
	insteadOf = "github:"

[url "git@gist.github.com:"]
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
	
[url "git://gist.github.com/"]
	insteadOf = "gist:"

# use separate file for username / github token / etc
[include]
	path = ~/.gitconfig.local

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[fetch]
	prune = true
[diff]
	compactionHeuristic = true

	# Show blocks of moved text of at least 20 alphanumeric characters differently than adds/deletes
	# https://blog.github.com/2018-04-05-git-217-released/
	colorMoved = zebra
[remote "origin"]
	fetch = +refs/heads/*:refs/remotes/origin/*
[stash]
	showPatch = true
[log]
	date = relative