# vim:ft=gitconfig

# Ignore all directories, and all sub-directories, and it's contents:
*/*

# But not these files...
!.gitignore
!bugwarrior
!fzf
!git
!neofetch
!karabiner/karabiner.json
!kitty/
!kitty/*/
!ranger
!skhd
!tmux
!vifm
!yabai
!zathura
!.npmrc
!.zk
!.gnupg
!.agignore
!.batrc
!.curlrc
!.gitconfig
!.psqlrc
!.pyrc.py
!.rgignore
!.rgrc
!.taskrc
!timewarrior.cfg
