# vim:ft=gitconfig

# Ignore everything
*

# But not these files...
!.gitignore
!bugwarrior
!fzf
!git
!neofetch
!karabiner/karabiner.json
!kitty
!ranger
!skhd
!tmux
!vifm
!yabai
!zathura
!.npmrc
!.gnupg
!.agignore
!.batrc
!.curlrc
!.gitconfig
!.psqlrc
!.pyrc.py
!.rgignore
!.rgrc
!.taskrc
!timewarrior.cfg
